<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Stämpfli AG. All rights reserved.
 * @author marcel.hauri@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <twitter_card>
                <type>summary</type>
            </twitter_card>
            <robots>
                <content>
User-agent: *
Disallow: /catalog/
Disallow: /checkout/
Disallow: /customer/
Disallow: /errors/
                </content>
            </robots>
            <hreflang>
                <same_website_only>0</same_website_only>
            </hreflang>
        </seo>
    </default>
</config>
